<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   <Header>
        <img src="./pictures/logo-white.png" alt="logo">
        <p>Find Your Perfect Expert</p>
    </Header>
    <nav>
        <a href="/" class="dashboard-btn">Home</a>
        <a href="/api/candidates" >Candidates</a>
        <a href="/api/manager">Search expert by project</a>
      {{#if logged_in}}
        <a href="/user" >Login</a>
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </nav>
 +
    <main >
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
        Contact us 
      <section>
        <a href="" >Felixbor</a>
        <a href=" ">JarretButtler</a>
        <a href="/" >Shaima</a>
      </section>
     </footer>
   
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
