</nav>
    <div class="search-box">
        <form id="form">
            <label id="label"> Select candidate skill </label>
           <div class="search">
            <div class="project">
                <select class="selectproject" >
                    <option placeholder="select"></option>
                    <option value="css">css</option>
                    <option value="JAVA ">JAVA </option>
                    <option value="JAVA SCRIPT">JAVA SCRIPT</option>
                    <option value="SQL">SQL </option>
                    <option value="Project 1">FULL STACK</option>
                    <option value="html">HTML</option>
                    <option value="PYTHON">PYTHON</option>
                    <option value="RUBI">RUBI </option>
                
                </select>
            </div>
            <button class="search" type="submit">
                Search
            </button>
        </div>
        </form>
      </div>
     <div class="container">
 {{#each experts as |expert|}}
  
        <div class="card">
            <h2>{{expert.first_name}} {{expert.last_name}} </h2>
           
           <ul> 
               {{#each expert.Skills as |expertSk|}}
                <li> {{expertSk.skill_name}}   {{expertSk.Skills.skill_name}}</li>
                {{/each}} 
            </ul>
        </div>

   
{{/each}}   
     </div>