 <div class="introimg"><img src="" alt="image" id="im3">
        <div class="intro">  
            <p> If you are looking for coding professionals you are in the righ place.<br> Our mission is to help
                project
                managers to find their team, <br>experts in a certain field. 
                <a href="/api/candidates">Explore our webside</a> and find perfect fit. </p>
        </div>

        <img src="" alt="image" id="im2">
    </div>
     <script src="./js/script.js"></script>