<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expertise</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   <Header>
        <img src="../public/pictures/logo-white.png" alt="logo">
        <p>Find Your Perfect Expert</p>
    </Header>
    <nav>
        <a href="./" class="dashboard-btn">Home</a>
        <a href="/api/candidates" >Experts</a>
        <a href="/api/manager">Search expert by project</a>
     
        <a href="/user" >Login</a>
      
       
    </nav>
 +
    <main >
      <!-- Render the sub layout -->
      <div class="introimg"><img src="" alt="" id="im3">
        <div class="intro">  
            <p> If you are looking for coding professionals you are in the righ place.<br> Our mission is to help
                project
                managers to find their team, <br>experts in a certain field. 
                <a href="/api/candidates">Explore our webside</a> and find perfect fit. </p>
        </div>

        <img src="" alt="" id="im2">
    </div>
    <div id="chart">
      <canvas id="myChart"> chart</canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Front End', 'Back End', 'FullStack', ],
      datasets: [{
          label: 'Destribution  of experts in our Database',
        data: [12, 19, 3, 5,],
      
        borderWidth: 1

      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
    </div>
    <div class="row">
      <div class="login-signup">
        <h2>Login</h2>
    
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
          </div>
        </form>
      </div>
      <div class="login-signup">
        <h2>Signup</h2>
    
        <form class="form signup-form">
          <div class="form-group">
            <label for="name-signup">name:</label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
          </div>
        </form>
      </div>
    </div>
    
    </main>
    <footer>
        Contact us 
      <section>
        <a href="" >Felixbor</a>
        <a href=" ">JarretButtler</a>
        <a href="/" >Shaima</a>
      </section>
     </footer>
    <script src="../public/js/script.js"></script>
  </div>

 
</body>

</html>
