<div class="row">
  <div class="login-signup">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-signup">
    <h2>Signup</h2>



    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">First name:</label>
        <input class="form-input" type="text" id="firstname-signup" />
      </div>
      <div class="form-group">
        <label for="name-signup"> Last name:</label>
        <input class="form-input" type="text" id="lastname-signup" />
      </div>
      <div class="check-form">
        <label for="vehicle1"> I am employer</label>
        <input type="checkbox" id="is_employer" checked="false">
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<div id="chart">
  <canvas id="myChart"> chart</canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Front End', 'Back End', 'FullStack',],
        datasets: [{
          label: 'Destribution  of experts in our Database',
          data: [12, 25, 3,],

          borderWidth: 1

        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>
<script src="./js/login.js"></script>