.no-button {
  background: none;
  border: none;
  padding-top: 20px;
  cursor: pointer;
  color: #e2e7e9;
  text-decoration: none;
  font-size: 32px;
  margin-left: 5%;
  font-family: 'Times New Roman', Times, serif;
}

.no-button:hover {
  text-decoration: underline;
}

body {
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=Mnw0MDkzODR8MHwxfHNlYXJjaHw0fHx0ZWNobm9sb2d5fGVufDB8fHx8MTY3NjE1MzIzMw&ixlib=rb-4.0.3');
  background-size: 120%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  width: 20%;
  height: auto;
}

header p {
  color: aliceblue;
  padding-right: 35%;
  font-size: 3em;
}

nav {
  color: aliceblue;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  margin-left: 5%;
  padding-top: 1%;
}

hr {
  color: aliceblue;
}

#chart_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#instructions_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  /* align-items:normal; */
}

#homepage_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

#expertjoin {
  /* text-align: right; */
  font-size: 25px;
  color: aliceblue;
  padding: 10px;
  margin: 10px;
}

#expertlist {
  text-align: left;
  list-style: none;
}

#employerjoin {
  font-size: 25px;
  color: aliceblue;
}

#employerlist {
  text-align: left;
  list-style: none;
}

#aboutus {
  text-align: center;
  font-size: 25px;
  color: aliceblue;
}

.container {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}

.login-signup {
  margin-top: 7%;
  color: rgb(249, 247, 247);
  backdrop-filter: invert(20%);
  padding-right: 10px;
  padding-left: 10px;
}

.user-form h2 {
  margin: 0;
}


.form-group {
  display: flex;
  flex-direction: column;
  color: rgb(249, 248, 248);
  padding: 10px;
  padding-right: 10px;
}

#chart {
  width: 50%;
  height: auto;
}

#label {
  color: aliceblue;
  font-size: 2em;
  padding-bottom: 20px;
}

.selectproject {
  width: 300px;
  height: 35px;
  color: black;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search p {
  color: aliceblue;
  font-size: 2em;
}
#profile_container{
  display: flex;
  flex-direction: row;
}
.profile {
  flex: 3;
  backdrop-filter: invert(15%);
  margin: 5%;
  /* margin-left: 35%; */
  color: #e2e7e9;
  /* max-width: 23%; */
  padding: 2%;
  /* margin-left: 35%; */
  border-radius: 5px;
  border: 3px solid rgb(80, 79, 79);
}


.user-form{
  flex: 1
  backdrop-filter: invert(15%);
  margin: 5%;
  color: #e2e7e9;
  /* max-width: 23%; */
  padding: 2%;
  border-radius: 5px;
  border: 3px solid rgb(80, 79, 79);

}
.card {
  backdrop-filter: invert(15%);
  margin: 20px;
  width: 330px;
  height: auto;
  color: rgb(243, 247, 247);
  border-radius: 5px;
  border: 3px solid rgb(192, 187, 187);
}

.card h2 {
  text-align: center;
}

.card li {
  padding-top: 20px;
  padding-right: 10px
}

a:hover {
  color: rgb(21, 144, 238);
  text-shadow: 5px 0px 50px rgb(247, 247, 251);
}

.row {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-logout {
  color: rgb(11, 12, 12);
  background-color: aliceblue;
}

#im2,
#im3 {
  opacity: 0.12;
}

.intro {
  font-size: 20px;
  text-align: center;
  font-size: 2em;
  padding-top: 2%;
  color: aliceblue;
}

.introimg {
  display: flex;
  justify-content: space-between;
  size: 70%;
  margin-bottom: 5%;
}

.search {
  color: aliceblue;
  background-color: rgba(30, 145, 255, 1);
}

.btn {
  color: aliceblue;
  background-color:rgba(30, 145, 255, 1);
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  border-radius: 25px;
}

footer {
  color: aliceblue;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: aliceblue;
  text-decoration: underline;
  margin: 50px
}

#skill-list {
  display: flex;
  flex-direction: row;
  text-align: start;
 align-items: flex-start;

  margin-top: 3%;
  padding-top: 3%;
}

#skill-list li {
  margin: 3px;
  font-size: larger;
}

#skill-name {
  background-color: black;
  color: aliceblue;
}

#skill-level {
  background-color: black;
  color: aliceblue;
}

.btn-del {
  width: auto;
  height: fit-content;
  margin-top: px;
  margin-left: 3%;
  color: aliceblue;
  background-color:rgba(139, 0, 0, 1);
  border-radius: 25px;
}

#SetSkillName {
  color: aliceblue;
  font-size: 2.2em;
}

#email {
  color: aliceblue;
  text-decoration: none;
}